
.Body{
  position: relative;
  width: 100%;
 
  
  &__content{
    width: calc(100% - 300px);
    box-sizing: border-box;
    .content_post{
      height: 200px;
      border-bottom: 3px dotted pink;
      color: white;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}