.Body__left-content  
  %p 【レスキューメニュー】
  %li.Body__left-content__menu
    = link_to("殺処分のデータとか？", root_path, class: "Body__left__content__menu__link")
  %li.Body__left-content__menu
    = link_to("みんなの保護速報（ツイート）", tweets_path, class: "Body__left__content__menu__link")
  %li.Body__left-content__menu
    = link_to("各保護団体ブログ", blog_index_path, class: "Body__left__content__menu__link")
  %li.Body__left-content__menu
    = link_to("保護団体リンク", root_path, class: "Body__left__content__menu__link")
    