
.Header{
  width: 100%;
  height: 200px;
  background-color: rgba(232, 214, 166, 0.863);
  display: flex;
  .Header_link{
    height: 45px;
    font-size: 32px;
    font-weight: bolder;
    color: rgba(82, 27, 7, 0.763);
    text-decoration: none;
    text-align: center;
    margin-left: 40%;
    margin-top: 70px;
    &:hover{
      color: skyblue;
    }
  }
}
