
.Header{
  width: 100%;
  height: 200px;
  background-image:image-url('record/image.02.jpg');
  display: flex;
  p{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin-left: 40%;
  }
}
