.Bodya{
  width: 100%;
  height: 100vh;
  background-image: image-url('record/image.04.jpg');
  background-size: cover;
  &__content{
    // width: 90%;
    margin-left: 70px;
    box-sizing: border-box;
  }
}