= render partial: 'shared/headerA'


.Bodya
  .Bodya__content 
    -# .Bodya__content__title
    -#   -# = @user.title
    -#   タイトル
    -# .Bodya__content__dete
    -#   日時
    -# .Bodya__content__text
    -#   本文
    -# .Bodya__content__coment
    -#   コメント









= render partial: 'shared/footerA'